@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 숨기기 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* .no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

/* body {
  margin: 0;
}

.red {
  color: red;
}

.black {
  color: black;
}

.navbar {
  background: white;
  padding: 15px;
  border-bottom: #dddddd solid 2px;
  display: flex;
  align-items: center;
}

.navbar .menu-btn {
  border-right: #dddddd solid 1px;
}

.navbar .menu-btn:last-child {
  border-right: none;
}

.navbar a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
} */
