
body {
  margin: 0
}

.red {
  color: red;
}

.black {
  color: black;
}

.navbar {
  background: white;
  padding: 15px;
  border-bottom: #DDDDDD solid 2px;
  display: flex;
  align-items: center;
}

.navbar .menu-btn {
  border-right: #DDDDDD solid 1px
}

.navbar .menu-btn:last-child {
  border-right: none;
}

.navbar a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}